<h1>{{title}}</h1>
<p>This is a flexbox layout</p>
<!-- 
<div class="container">
    <div class="column">
        <div class="column">
        </div>
        <div class="column">
        </div>
        <div class="column">
        </div>
    </div>
</div>
<div class="row"> 
    <div class="column">
        <div class="item-5">rec-item</div>
    </div>
    
</div>
</div>
<div class="item-6">not-item</div>
<div class="item-7">cha-item</div>
-->


<div class="container">
    <div class="row">
        <div class="column colQuart item-1">inc-item</div>
        <div class="column colQuart item-2">act-item</div>
        <div class="column colQuart item-3">con-Item</div>
        <div class="column colRight">
            <div class="item-4">
                urg-item
            </div>
      </div>
        
    </div>
</div>